<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE tiles-definitions PUBLIC "-//Apache Software Foundation//DTD Tiles Configuration 3.0//EN" "http://tiles.apache.org/dtds/tiles-config_3_0.dtd">
<tiles-definitions>
<definition name="base" template="/layout.jsp">
<put-attribute name="header" value="/header.jsp"/>
<put-attribute name="menu" value="/menu.jsp"/>
<put-attribute name="body" value=""/>
<put-attribute name="footer" value="/footer.jsp"/>
</definition>
<definition name="welcome" extends="base">
<put-attribute name="body" value="/welcome.jsp"/> 
</definition> 
<definition name="addemployeepage" extends="base">
<put-attribute name="body" value="/AddEmployee.jsp"/> 
</definition> 
<definition name="addemployee" extends="base">
<put-attribute name="body" value="/AddEmployee.jsp"/> 
</definition> 
<definition name="listemployees" extends="base">
<put-attribute name="body" value="/employees.jsp"/> 
</definition> 
<definition name="editemployee" extends="base">
<put-attribute name="body" value="/editEmployee.jsp"/>
</definition>
</tiles-definitions>